POSTGRES_DB=ecommerce
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432
JWT_SECRET=local-demo-secret
AUTH_SERVICE_PORT=4001
PRODUCT_SERVICE_PORT=4002
ORDER_SERVICE_PORT=4003
VITE_API_BASE_URL=/api
VITE_GRAFANA_URL=/grafana/d/ecommerce-overview/ecommerce-overview?orgId=1&kiosk

